<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>认识table表标签</title>
    <style type="text/css">
        /*解决html转pdf文件中文不显示的问题*/
        body {
            font-family: SimSun;
        }

        /*设定纸张大小*/
        /* A4纸 */
        /* @page{size:210mm*297mm} */
        @page{size:a4}

        p {
            color: red;
        }
    </style>
</head>
<body>
    <table border="1px">
        <caption>我的标题</caption>
        <tbody>
        <tr>
            <th>班级</th>
            <th>学生数</th>
            <th>平均成绩</th>
            <th>班级</th>
            <th>学生数</th>
            <th>平均成绩</th>
            <th>班级</th>
            <th>学生数</th>
            <th>平均成绩</th>
        </tr>
        <tr>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
        </tr>
        <tr>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
        </tr>
        <tr>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
            <td>一班</td>
            <td>30</td>
            <td>89</td>
        </tr>
        </tbody>
    </table>

    <p>
        《侠客行》<br/>
        年代: 唐 作者: 李白<br/>
        赵客缦胡缨，吴钩霜雪明。银鞍照白马，飒沓如流星。
        十步杀一人，千里不留行。事了拂衣去，深藏身与名。
        闲过信陵饮，脱剑膝前横。将炙啖朱亥，持觞劝侯嬴。
        三杯吐然诺，五岳倒为轻。眼花耳热后，意气素霓生。
        救赵挥金槌，邯郸先震惊。千秋二壮士，煊赫大梁城。
        纵死侠骨香，不惭世上英。谁能书閤下，白首太玄经。
    </p>
</body>
</html>