<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjecit.dao.system.PermissionDao">
    <resultMap id="permissionMap" type="com.lnjecit.entity.system.Permission">
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="permissions" property="permissions"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="sort" property="sort"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="del" property="del"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,permissions,icon,url,sort,type,status,del,create_user_id,create_time,update_user_id,update_time
    </sql>

    <select id="query" resultMap="permissionMap">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        <where>
            del = 1
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="permissionName != null and permissionName != ''">
                AND name = #{permissionName}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId}
            </if>
            <if test="del != null">
                AND del = #{del}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
        </where>
        <choose>
            <when test="orderBy == null or orderBy == ''">
                ORDER BY update_time DESC
            </when>
            <when test="orderBy != null or orderBy != ''">
                ORDER BY ${ orderBy }
            </when>
        </choose>
    </select>

    <select id="getById" resultMap="permissionMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_permission WHERE id = #{id}
    </select>

    <delete id="deleteLogical">
        UPDATE t_permission set del = 0
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.lnjecit.entity.system.Permission" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_permission(id,parent_id,name,permissions,icon,url,sort,type,status,del,create_user_id,create_time,update_user_id,update_time)
		VALUES (#{id},#{parentId},#{name},#{permissions},#{icon},#{url},#{sort},#{type},#{status},#{del},#{createUserId},#{createTime},#{updateUserId},#{updateTime})
    </insert>

    <update id="update" parameterType="com.lnjecit.entity.system.Permission">
        UPDATE t_permission
        <set>
            <if test="parentId != null and parentId != ''">
                parent_id=#{parentId},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            permissions=#{permissions},
            icon=#{icon},
            url=#{url},
            <if test="sort != null and sort != ''">
                sort=#{sort},
            </if>
            <if test="type != null and type != ''">
                type=#{type},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="del != null and del != ''">
                del=#{del},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                update_user_id=#{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>